POC/Playbooks/AutoInvestigate-MCASTravelVirusTotal.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
        "contentVersion": "1.0.0.0",
            "parameters": {
        "workflows_MCAS_Travel_detection_AutoInvestigate_VT_name": {
            "defaultValue": "MCAS_Travel_detection_AutoInvestigate_VT",
                "type": "String"
        },
        "connections_azuresentinel_externalid": {
            "defaultValue": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/azuresentinel')]",
                "type": "String"
        },
        "VirusTotal_API_Key": {
            "defaultValue": "Insert Key",
                "type": "String"
        }
    },
    "variables": { },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuresentinel",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "Azure Sentinel",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_MCAS_Travel_detection_AutoInvestigate_VT_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": ["azuresentinel"],
            "tags": {
                "LogicAppsCategory": "security"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Alert_-_Get_IPs": {
                            "runAfter": {
                                "Alert_-_Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['Entities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "Alert_-_Get_URLs": {
                            "runAfter": {
                                "Initialize_VT_APIKey": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['Entities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/url"
                            }
                        },
                        "Alert_-_Get_incident": {
                            "runAfter": {
                                "Initialize_HasRiskyIP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                            }
                        },
                        "For_each_IP": {
                            "foreach": "@body('Alert_-_Get_IPs')?['IPs']",
                            "actions": {
                                "IPCheckVirusTotal": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "headers": {
                                            "x-apikey": "@variables('APIKey')"
                                        },
                                        "method": "GET",
                                        "uri": "https://www.virustotal.com/api/v3/search?query=@{items('For_each_IP')?['Address']}"
                                    }
                                },
                                "If_VTIP_Report": {
                                    "actions": {
                                        "Add_comment_to_incident_(V2)": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Value": "VTIPReport found for @{items('For_each_IP')?['Address']}, malicious @{body('Parse_JSON')?['data'][0]?['attributes']?['last_analysis_stats']?['malicious']}, suspicious @{body('Parse_JSON')?['data'][0]?['attributes']?['last_analysis_stats']?['suspicious']}\nOriginal alert: @{variables('OriginalAlerts')?[0]}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                                            }
                                        },
                                        "Should_investigate": {
                                            "actions": {
                                                "Set_variable": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "HasRiskyIP",
                                                        "value": true
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Add_comment_to_incident_(V2)": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "or": [
                                                    {
                                                        "greater": [
                                                            "@body('Parse_JSON')?['data'][0]?['attributes']?['last_analysis_stats']?['malicious']",
                                                            "@variables('MaliciousThreshold')"
                                                        ]
                                                    },
                                                    {
                                                        "greater": [
                                                            "@body('Parse_JSON')?['data'][0]?['attributes']?['last_analysis_stats']?['suspicious']",
                                                            "@variables('SuspiciousThreshold')"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Add_comment_to_incident_(V2)_2": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "Value": "VTIPReport was not found for @{items('For_each_IP')?['Address']}\nOriginal alert: @{variables('OriginalAlerts')?[0]}"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "put",
                                                    "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "or": [
                                            {
                                                "equals": [
                                                    "@body('Parse_JSON')?['data'][0]?['type']",
                                                    "ip_address"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "IPCheckVirusTotal": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('IPCheckVirusTotal')",
                                        "schema": {
                                            "properties": {
                                                "data": {
                                                    "items": {
                                                        "properties": {
                                                            "attributes": {
                                                                "properties": {
                                                                    "as_owner": {
                                                                        "type": "string"
                                                                    },
                                                                    "asn": {
                                                                        "type": "integer"
                                                                    },
                                                                    "continent": {
                                                                        "type": "string"
                                                                    },
                                                                    "country": {
                                                                        "type": "string"
                                                                    },
                                                                    "last_analysis_stats": {
                                                                        "properties": {
                                                                            "harmless": {
                                                                                "type": "integer"
                                                                            },
                                                                            "malicious": {
                                                                                "type": "integer"
                                                                            },
                                                                            "suspicious": {
                                                                                "type": "integer"
                                                                            },
                                                                            "timeout": {
                                                                                "type": "integer"
                                                                            },
                                                                            "undetected": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "last_modification_date": {
                                                                        "type": "integer"
                                                                    },
                                                                    "network": {
                                                                        "type": "string"
                                                                    },
                                                                    "regional_internet_registry": {
                                                                        "type": "string"
                                                                    },
                                                                    "reputation": {
                                                                        "type": "integer"
                                                                    },
                                                                    "tags": {
                                                                        "type": "array"
                                                                    },
                                                                    "total_votes": {
                                                                        "properties": {
                                                                            "harmless": {
                                                                                "type": "integer"
                                                                            },
                                                                            "malicious": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "whois": {
                                                                        "type": "string"
                                                                    },
                                                                    "whois_date": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "links": {
                                                                "properties": {
                                                                    "self": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "attributes",
                                                            "id",
                                                            "links",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "links": {
                                                    "properties": {
                                                        "self": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Alert_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_URL": {
                            "foreach": "@body('Alert_-_Get_URLs')?['Urls']",
                            "actions": {
                                "Add_SystemAlertId_to_Investigation": {
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "OriginalAlerts",
                                        "value": "@last(split(last(split(string(uriQuery(items('For_each_URL')?['Url'])),'&')),'='))"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_OriginalAlerts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "If_Risky_IP": {
                            "actions": {
                                "Add_autoassist_label_to_incident": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Labels": [
                                                {
                                                    "Label": "autoassist"
                                                }
                                            ]
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}/AddLabels"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each_IP": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Add_fullauto_label_to_incident": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Labels": [
                                                    {
                                                        "Label": "fullauto"
                                                    }
                                                ]
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                }
                                            },
                                            "method": "put",
                                            "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}/AddLabels"
                                        }
                                    },
                                    "Close_New_Incident": {
                                        "runAfter": {
                                            "For_each_alert": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "CloseReason": "BenignPositive",
                                                "CloseReasonText": "No IP risk found"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                }
                                            },
                                            "method": "put",
                                            "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}/Status/@{encodeURIComponent('Closed')}"
                                        }
                                    },
                                    "For_each_alert": {
                                        "foreach": "@variables('OriginalAlerts')",
                                        "actions": {
                                            "Close_Original_Incident": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "CloseReason": "BenignPositive",
                                                        "CloseReasonText": "[[Insert Logic App Name]"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "put",
                                                    "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(items('For_each_alert'))}/Status/@{encodeURIComponent('Closed')}"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Add_fullauto_label_to_incident": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('HasRiskyIP')",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_HasRiskyIP": {
                            "runAfter": {
                                "Initialize_SuspiciousThreshold": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HasRiskyIP",
                                        "type": "boolean",
                                        "value": false
                                    }
                                ]
                            }
                        },
                        "Initialize_MaliciousThreshold": {
                            "runAfter": {
                                "For_each_URL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "MaliciousThreshold",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Initialize_OriginalAlerts": {
                            "runAfter": {
                                "Alert_-_Get_URLs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OriginalAlerts",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_SuspiciousThreshold": {
                            "runAfter": {
                                "Initialize_MaliciousThreshold": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SuspiciousThreshold",
                                        "type": "integer",
                                        "value": 1
                                    }
                                ]
                            }
                        },
                        "Initialize_VT_APIKey": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "APIKey",
                                        "type": "String",
                                        "value": "[parameters('VirusTotal_API_Key')]"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[parameters('connections_azuresentinel_externalid')]",
                                "connectionName": "azuresentinel",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}