POC/Playbooks/AutoInvestigate-MCASFailedLogin.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
        "contentVersion": "1.0.0.0",
	    "metadata":{
            "comments": "This playbook will autoinvestigate MCAS FailedLogin Alerts to reduce True Positive Benign signals",
            "author": "Steve Faehl"
    	},
            "parameters": {
        "workflows_MCAS_Failed_Login_AutoInvestigate_name": {
            "defaultValue": "MCAS_Failed_Login_AutoInvestigate",
                "type": "String"
        },
        "connections_azuremonitorlogs_externalid": {
            "defaultValue": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/azuremonitorlogs')]",
                "type": "String"
        },
        "connections_azuresentinel_externalid": {
            "defaultValue": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/azuresentinel')]",
                "type": "String"
        }
    },
    "variables": { },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuresentinel",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "Azure Sentinel",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuremonitorlogs",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "Azure Monitor Logs",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_MCAS_Failed_Login_AutoInvestigate_name')]",
            "location": "eastus",
            "dependsOn": ["azuresentinel", "azuremonitorlogs"],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Autoassist": {
                                    "runAfter": {
                                        "Change_incident_severity": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Labels": [
                                                {
                                                    "Label": "autoassist"
                                                }
                                            ]
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/AddLabels"
                                    }
                                },
                                "Change_incident_severity": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/Severity/@{encodeURIComponent('Medium')}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Query_Result": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Add_comment_to_incident_(V2)": {
                                        "runAfter": {
                                            "Change_incident_status": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Value": "Valid signins: @{body('Query_Result')?[0]['Valid']}  Invalid signins: @{body('Query_Result')?[0]['Invalid']}"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                }
                                            },
                                            "method": "put",
                                            "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                                        }
                                    },
                                    "Change_incident_status": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                }
                                            },
                                            "method": "put",
                                            "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/Status/@{encodeURIComponent('Closed')}"
                                        }
                                    },
                                    "Fullauto": {
                                        "runAfter": {
                                            "Add_comment_to_incident_(V2)": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Labels": [
                                                    {
                                                        "Label": "fullauto"
                                                    }
                                                ]
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                }
                                            },
                                            "method": "put",
                                            "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/AddLabels"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@body('Query_Result')?[0]['Invalid']",
                                            "@body('Query_Result')?[0]['Valid']"
                                        ]
                                    },
                                    {
                                        "greater": [
                                            "@body('Query_Result')?[0]['Invalid']",
                                            25
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Query_-_IP_Health_Check": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "let alert = SecurityAlert\n| summarize arg_max(TimeGenerated, *) by SystemAlertId\n| where SystemAlertId in(\"@{triggerBody()?['SystemAlertId']}\");\nlet ips = toscalar(alert | project parse_json(ExtendedProperties)[\"IP Addresses\"]);\nSigninLogs\n| where TimeGenerated > ago(90d)\n| where IPAddress in(ips)\n| extend weight = 1 \n| project UserPrincipalName, AppDisplayName,ResultType, ResultDescription, DeviceDetail, IsInteractive, LocationDetails, UserAgent, TimeGenerated\n| summarize Valid=countif(ResultType != 50126), Invalid=countif(ResultType==50126)",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "sentinel-rg",
                                    "resourcename": "solvedwithsoftware",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "6108e499-ed0d-4d24-bf85-cb6882f1b533",
                                    "timerange": "Set in query"
                                }
                            }
                        },
                        "Query_Result": {
                            "runAfter": {
                                "Query_-_IP_Health_Check": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Query_-_IP_Health_Check')?['value']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Invalid": {
                                                "type": "integer"
                                            },
                                            "Valid": {
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "Valid",
                                            "Invalid"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[parameters('connections_azuremonitorlogs_externalid')]",
                                "connectionName": "azuremonitorlogs",
                                "id": "/subscriptions/6108e499-ed0d-4d24-bf85-cb6882f1b533/providers/Microsoft.Web/locations/eastus/managedApis/azuremonitorlogs"
                            },
                            "azuresentinel": {
                                "connectionId": "[parameters('connections_azuresentinel_externalid')]",
                                "connectionName": "azuresentinel",
                                "id": "/subscriptions/6108e499-ed0d-4d24-bf85-cb6882f1b533/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel"
                            }
                        }
                    }
                }
            }
        }
    ]
}